.container > Button {
    -fx-cursor: hand;
    -fx-background-color: #efefef;
    -fx-padding: 20px;
    -fx-alignment: top-center;
    -fx-spacing: 20px;
}

.container {
    -fx-padding: 20px;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}

.VBox > HBox {
    -fx-spacing: 20px;
}
