.content {
}

.content > Label {
  -fx-font-size: 24px;
  -fx-font-weight: 700;
}

.exportBtns {
  -fx-alignment: center-right;
}

.cancel {
  -fx-alignment: center-left;
}

.export {
  -fx-alignment: center-right;
}

#list {
  -fx-background-color: #fefefe;
}

#list Label {
  -fx-text-fill: #000000;
}

.file {
  -fx-alignment: center;
}
