.content {
  -fx-padding: 20px;
}

.content > Label {
  -fx-font-size: 24px;
  -fx-font-weight: 700;
  -fx-padding: 0 0 20px 0;
}

.exportBtns {
  -fx-alignment: center-right;
  -fx-hgap: 10px;
  -fx-padding: 20px 0 0 0;
}

.cancel {
  -fx-alignment: center-left;
}

.export {
  -fx-alignment: center-right;
}

#list {
  -fx-spacing: 10px;
  -fx-background-color: #fefefe;
  -fx-padding: 20px;
}

#list Label {
  -fx-text-fill: #000000;
}

.file {
  -fx-alignment: center;
  -fx-spacing: 10px;
}
