.content {
}

.content > Label {
  -fx-font-size: 24px;
  -fx-font-weight: 700;
}

.exportBtns {
  -fx-alignment: center-right;
}

.cancel {
  -fx-alignment: center-left;
}

.export {
  -fx-alignment: center-right;
}

#list {
  -fx-background-color: #fefefe;
}

#list Label {
  -fx-text-fill: #000000;
}

.file {
  -fx-alignment: center;
}

.exportAll {
  -fx-alignment: center-right;
  -fx-padding: 40px 0 0 0;
}

.exportAll Button {
  -fx-content-display: right;
  -fx-text-fill: #4a3eef;
  -fx-padding: 0;
}

.exportAll Button FontIcon {
  -fx-icon-color: #4a3eef;
  -fx-icon-size: 32px;
}
