.controls {
  -fx-alignment: center;
  -fx-spacing: 10px;
  -fx-padding: 0 0 20px 0;
}

FlowPane > ImageView {
  -fx-cursor: hand;
  -fx-background-color: #9933dd;
}

#imageWrapper {
  -fx-hgap: 10px;
  -fx-vgap: 10px;
  -fx-padding: 20px;
  -fx-background-color: #ffffff;
  -fx-alignment: top-center;
}

.scrollPane {
  -fx-border: none;
}

.pagination .page {
  visibility: hidden;
}
