.inputContainer {
  -fx-alignment: center-right;
}

.container {
  -fx-padding: 20px;
}

.personbox {
  -fx-padding: 10px;
}

.personbox Label {
  -fx-text-fill: #000000;
}

.personbox > HBox {
  -fx-alignment: center-left;
}

.metadatacontainer {
  -fx-spacing: 20px;
}

.metadatacontainer > HBox {
  -fx-alignment: center;
}

.metadatacontainer > HBox > HBox {
  -fx-alignment: center-left;
}

.inputContainer {
  -fx-alignment: center-right;
}

.metadatacontainer > VBox {
  -fx-spacing: 20px;
}

.metadatacontainer VBox > VBox > HBox {
  -fx-spacing: 20px;
  -fx-padding: 0 0 20px 0;
}

.listControls > HBox {
  -fx-alignment: center-left;
}
